* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To Box Model */
}

/* Global */
body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
  overflow-x: hidden;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 70px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.hero__container {
  width: 100%;

}
.hero__bg{
  position:absolute;
  z-index: 2;
  width: 46rem;
  height: 23rem;
  top: 4rem;
  right: 3rem;
  position: absolute;
}
.hero__bg2{
  position: absolute;
  width: 25rem;
  height: 22rem;
  top: 5rem;
}
.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  z-index: 100;
  position: relative;
  
}

.hero__text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
}

/* Menu Styles */

.explore__menu__container {
  margin-top: 50px;
}

.explore__menu__text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}

.food__menu__card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.food__menu__card__description {
  padding: 20px;
}

.explore__menu__view__more {
  display: flex;
  justify-content: center;
}

/* Flex */
.restaurants__description {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}
.restaurants__flex__row__one,
.restaurants__flex__row__two {
  width: 100%;
  display: flex;
  gap: 4px;
}
.restaurants__flex__row__one {
  align-items: baseline;
  margin-bottom: 4px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.restaurant__1,
.restaurant__4 {
  width: 100%;
  height: 150px;
}

.restaurant__2,
.restaurant__3 {
  width: 120%;
  height: 200px;
}
.email__subcribe__container{
margin-top: 3rem;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.text-x1{
  font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
}
.email__subcribe__input__field{
  display: flex;
    align-items: center;
    gap: 10px;
    
}
.email__input{
      border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.9rem;
    padding-right: 150px;
    border-radius: 4px;
    width: 100%;
    
    
}
.quote__image{
      position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
}
.quote__container{
  position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)
    center center / cover no-repeat;

}
.quote__image__text{
      color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
footer{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
        margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    /* margin: 0 80px 0 80px; */
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -1rem;
    color: #fff;

}
.img{
  width: 300px;
    filter: brightness(0) invert(1);
    color: #fff;

}


@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 12px 20px;
    font-size: 20px;
  }
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .explore__menu__container {
    position: relative;
  }
  .explore__menu__gradient__bg {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );

    z-index: -3;
    transform: skewY(-5deg);
  }
  .explore__menu__lists {
    margin-top: 50px;
    display: flex;
    gap: 8px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .restaurants__description {
    font-size: 40px;
    width: 100%;
  }

  .restaurants__container {
    display: flex;
    align-items: center;
  }
  .restaurants__flex {
    width: 100%;
  }
}

@media (min-width: 1020px) {
  .container {
    max-width: 900px;
  }

  .hero__text {
    font-size: 50px;
  }
  .explore__menu__lists {
    gap: 20px;
    padding: 0 20px;
  }

  .explore__menu__text {
    font-size: 50px;
  }

  .restaurants__container{
    margin-top: 30px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
